@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

.header{
    @include size(width 100% min $screen-size);
    border-bottom: 2px solid $page-color;
    background-color: $bg-color-black;
}

.header-wrap{
    @include size($screen-size, 45px);
    @include margin(0 auto);
    overflow: hidden;

    .header-logo{
        float: left;
        text-align: center;

        a{
            font-weight: bold;
            font-size: 25px;
            line-height: 45px;
            color: $white;
            text-decoration: none;
        }

        a:hover{
            text-decoration: underline;
        }
    }

    .header-nav{
        @include margin(left 60px);
        float: right;
        line-height: 28px;

        .header-user-info{
            @include size(null, 45px);
            @include padding(0 8px);
            float: left;
            line-height: 45px;

            span{
                color: $white
            }
        }

        .header-menu{
            float: left;
        }

        .header-menu li{
            @include size(null, 45px);
            @include padding(0 8px);
            float: left;

            &.router-link-active{
                background-color: $page-color;
            }
        }

        .header-menu a{
            @include padding(4px 0);
            font-size: 16px;
            line-height: 45px;
            color: $white;
            text-decoration: none;

            &:hover{
                border-bottom: 2px solid $white;
            }
        }
    }
}
