@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

.main{
    @include size($screen-size);
    @include margin(0 auto);
    overflow: hidden;
}

.info-area{
    @include size(600px);
    @include margin(0 auto);
    overflow: hidden;

    .rank-wrap{
        @include size(50%);
        @include margin(0 auto);
        @include box-sizing(border-box);
        overflow: hidden;
        float: left;
        border: 1px solid $border-color-base;
        background-color: $white;

        &:first-child{
            border-right: 0;
        }

        .rank-img{
            @include size(120px);
            float: left;
        }

        .rank-img img{
            @include size(100%, 120px)
        }

        .rank-info{
            @include size(178px);
            @include margin(top 12px);
            float: left;
            font-size: 16px;
            line-height: 20px;
            color: #666;
        }

        .rank-tier{
            @include margin(top 8px);

            .tier{
                display: block;
                font-weight: bold;
                font-size: 20px;
                color: $page-color;
            }

            .point{
                @include margin(right 12px)

            }
        }

        .rank-game{
            @include margin(top 8px);
        }
    }
}

.match-area{
    @include size(600px);
    @include margin(40px auto 0);

    .match-list{
        overflow: hidden;
    }

    .match-wrap{
        @include size(100%, 98px);
        @include margin(bottom 8px);
        @include box-sizing(border-box);
        display: table;
        overflow: hidden;
        border: 1px solid #cdd2d2;
        border-collapse: collapse;
        font-size: 14px;
        line-height: 16px;
        color: #666;
        table-layout: fixed;

        &.win{
            border-color: #99b9cf;
            background-color: #a3cfec;
        }

        &.lose{
            border-color: #cea7a7;
            background-color: #e2b6b3;
        }

        > div{
            @include size(120px);
            @include padding(0 8px);
            @include box-sizing(border-box);
            display: table-cell;
            height: 96px;
            vertical-align: middle;
        }
    }

    .match-stats{
        text-align: center;

        span{
            display: block;
        }

        .match-ago{
            @include margin(top 4px);
        }

        .match-result{
            @include margin(top 8px);
        }

        .match-time{
            @include margin(top 4px);
        }
    }

    .setting-info{
        overflow: hidden;

        > div{
            float: left;

            .image{
                @include margin(top 4px);
            }

            .image:first-child{
                @include margin(top 0);
            }

            img{
                @include size(100%, 100%);
            }
        }

        .champion-img{
            @include size(46px, 46px);
        }

        .spell{
            @include margin(left 4px);

            img{
                @include size(22px, 22px);
            }
        }

        .runes{
            @include margin(left 4px);

            img{
                @include size(22px, 22px);
            }
        }

        .champion-name{
            @include size(100%);
            @include margin(top 8px);
            font-size: 12px;

            span{
                display: block;
                margin-left: 20px;
            }
        }
    }

    .kda-info{
        overflow: hidden;
        text-align: center;

        .kda{
            font-size: 16px;
            color: #879292;

            > span{
                font-weight: bold;
            }

            .kill,
            .assist{
                color: #555e5e
            }

            .death{
                color: #c6443e;
            }
        }

        .kda-ratio{
            @include margin(top 8px);
            font-weight: bold;
            font-size: 12px;
            color: #555e5e;
        }
    }

    .stat-info{
        overflow: hidden;
        text-align: center;

        .cs{
            @include margin(top 4px);
        }

        .kill-rate{
            @include margin(top 4px);
            color: #c6443e;
        }
    }

    .item-info{
        overflow: hidden;

        .item-list{
            @include padding(0 4px);
            overflow: hidden;
        }

        .item{
            @include size(22px, 22px);
            @include margin(top 2px right 2px);
            float: left;
            background-color: #99b9cf;

            img{
                @include size(100%, 100%);
            }
        }

    }
}
